:root {
    --main-bg-color: #181a1b;
    --main-text-color: #ffffff;
    font-size: 2.5vw;
}

html {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    border-radius: 10px;
    border: 0.1rem solid #ffffff;
}

.graph-container {
}

#popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

#header-wrapper {
    border: thick double #ffffff;
    height: max-content;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#header-wrapper h1 {
    color: var(--main-text-color);
    font-size: 2rem;
    text-align: center;
    margin-bottom: -1rem;
}

#header-wrapper h2 {
    color: var(--main-text-color);
    font-size: 1.5rem;
    text-align: center;
}

#center-wrapper {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    margin: 0.5rem;
    flex: 1;
    width: 95%;
}

#setting-wrapper {
    padding: 0.5rem;
    flex: 10%;
    gap: 0.25rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

#setting-wrapper button,
input {
    border-radius: 15px;
}

#date-input {
}

#measurement-wrapper {
    padding: 0.5rem;
    flex-grow: 100;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

#measurement-wrapper div {
    flex-grow: 50;
}

.toggle-button {
    position: relative;
    width: 8rem;
    height: 3rem;
    background-color: #e74c3c; /* Red for OFF */
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.toggle-button[data-state="on"] {
    background-color: #2ecc71; /* Green for ON */
}

.toggle-button .slider {
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    width: 3.5rem;
    height: 2rem;
    background-color: #fff;
    border-radius: 50px;
    transition: transform 0.4s ease;
}

.toggle-button[data-state="on"] .slider {
    transform: translateX(4rem); /* Moves to the right for ON state */
}

/* Label */
.toggle-button .label {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--neutral-background);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (min-width: 600px) {
    #center-wrapper {
        flex-direction: row;
        gap: 1rem;
    }

    #setting-wrapper {
        flex: 25%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }

    #date-input {
        grid-column: 1 / -1;
    }

    #measurement-wrapper {
        flex-direction: row;
    }
}
